#[default]
#aws_access_key_id=<default access key>
#aws_secret_access_key=<default secret key>

#[profile example]
#aws_access_key_id=<example access key>
#aws_secret_access_key=<example secret key>

